# Flask
*.pyc
__pycache__/

# Instance
instance/
	instance/config.py

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# Pycharm Project
.idea
	# Default ignored files
	/shelf/
    	/workspace.xml
    	# Datasource local storage ignored files
    	/dataSources/
    	/dataSources.local.xml
	# Editor-based HTTP Client requests
	/httpRequests/

# VSCode
.vscode

# Test logs
log.txt

# virtualenv
virt

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
