<!DOCTYPE html>
<html>
<head>
	<title>Leaderboard</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leader.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>
<body>
<div class="top">
	GLOBAL RANK <br> {{ user_rank }}
</div>

<div class="close_button">
	<button onclick="goBack()">
		X
	</button>
</div>
<div class="display">
	<div class = "leaderboard">
		<ul class = "rank">
			{% for rank in ranks %}
				<li>{{ rank }}</li>
			{% endfor %}
		</ul>
		<ul class = "users">
			{% for user in users %}
				{% if user|string() == session['user']['username']|string() %}
				<li class="yellow" style="color: yellow;">{{ user }}</li>
				{% else %}
				<li>{{ user }}</li>
				{% endif %}
			{% endfor %}
		</ul>

		<ul class = "scores">
			{% for score in scores %}
				<li>{{ score }}</li>
			{% endfor %}
		</ul>
	</div>
</div>

<script>
	goBack = ()=> {
  		window.history.back();
  		localStorage.setItem("pass",17012000);
	}
</script>

</body>
</html>
