<!DOCTYPE html>
<html>
<head>
	<title>Leaderboard</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leader.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <style type="text/css">
        {% if not session.get('user') %}
        .logged-in {
            visibility: hidden;
        }
        {% endif %}
    </style>
</head>
<body onload="timer()">
<div class="top">
    <div class="logged-in">
	GLOBAL RANK <br> {{ user_rank }} <br>
    </div>
    <p id = "time" style = "font-size: 2rem;"></p>
</div>

<div class="close_button logged-in">
	<button onclick="goBack()">
		X
	</button>
</div>
<div class="display">
	<div class = "leaderboard">
		<ul class = "rank">
			{% for rank in ranks %}
				<li>{{ rank }}</li>
			{% endfor %}
		</ul>
		<ul class = "users">
			{% for user in users %}
				{% if user|string() == session.get('user')['username']|string() %}
				<li class="yellow" style="color: yellow;">{{ user }}</li>
				{% else %}
				<li>{{ user }}</li>
				{% endif %}
			{% endfor %}
		</ul>

		<ul class = "scores">
			{% for score in scores %}
				<li>{{ score }}</li>
			{% endfor %}
		</ul>
	</div>
</div>

<script>
	goBack = ()=> {
  		window.history.back();
  		localStorage.setItem("pass",17012000);
	}

	timer = ()=> {
		// Get the date we're counting down to
		var countDownDate = new Date("{{ TIME_STRING_UTC }}").getTime();

		// Update the count down every 1 second
		var x = setInterval(function() {

		  // Get today's date and time
		  var now = Date.now();

		  // Find the distance between now and the count down date
		  var distance = countDownDate - now;

		  // Time calculations for days, hours, minutes and seconds
		  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		  // Output the result in an element with id="demo"
		  document.getElementById("time").innerHTML = "Closing In <br>" + days + "d " + hours + "h "
		  + minutes + "m " + seconds + "s ";

		  // If the count down is over, write some text
		  if (distance < 0) {
		    clearInterval(x);
		    document.getElementById("time").innerHTML = "-- -- -- --";
		  }
		}, 1000);
	}
</script>

</body>
</html>
