<!DOCTYPE html>
<html>
<head>
	<title>Choose Path</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ostyle.css') }}">
</head>
<body>
	<div class="user_details">
		<div class="display_score">
			<i class="fas fa-bullseye"></i> {{ session['user']['score'] }}
		</div>
		<div class="display_rank">
			<a href="{{ url_for('story.leaderboard') }}"><i class="fas fa-trophy"></i></a> {{ rank }}
		</div>
		<div class="display_user">
			<i class="fa fa-user" aria-hidden="true"></i> {{ session['user']['username'] }} <a href ="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt" style = "font-size: 2rem; color: #D21F3C"></i></a>
	    </div>
	</div>
	<div class="optionpage">
		<div class="optiontext">
			{{ session['options']['text'] }}
		</div>
		<form method = "POST" action = "{{ url_for("story.options") }}">
		<div class="form">
			<div class="radiobn">
				<input type="radio" name="options" id="option_1" value="option_1" checked="checked">
				<label for="option_1" class="label1">
					<span>{{ session['options']['option_1']['text'] }}</span>
				</label>
				<input type="radio" name="options" id="option_2" value="option_2">
				<label for="option_2" class="label2">
					<span>{{ session['options']['option_2']['text'] }}</span>
				</label>
			</div>
		    <p><input type=submit value=continue></p>
	    </div>
	    </form>
    </div>
</body>
</html>
