<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/qstyle.css') }}">
	<script type="text/javascript">
        	var check=localStorage.getItem("pass");
        	if(check!=17012000)
        	{
        		localStorage.setItem("pass",0);
	        	window.history.forward(); 
	        	function noBack() { 
	            	window.history.forward(); 
	        	}

	        }
	        else
	        {
	        	localStorage.setItem("pass",0);
	        }
    	</script>
</head>
<body>
	<div class="user_details">
		<div class="display_score">
			<i class="fas fa-bullseye"></i> {{ session['user']['score'] }}
		</div>
		<div class="display_rank">
			<a href="{{ url_for('story.leaderboard') }}"><i class="fas fa-trophy"></i></a> {{ rank }}
		</div>
		<div class="display_user">
			<i class="fa fa-user" aria-hidden="true"></i> {{ session['user']['username'] }} <a href ="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt" style = "font-size: 2rem; color: #D21F3C"></i></a>
	    </div>
	</div>
	<div class="questionpage">
		<div class = "question"> {{ question_text }} </div>
		<div class="ansform">
			<form method = "POST" action = "{{ url_for("story.question") }}" style="position: relative;">
				<div class = "form-group">
					<input type = "text" name = "answer" placeholder="answer">
				</div>
				<input class = "button" type = "submit" value="continue">
			</form>
		</div>
        {% for message in get_flashed_messages() %}
            <div class="alert" style="color: #e50914;">{{ message }}</div>
        {% endfor %}
    </div>
</body>
</html>
