<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Story</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

       <script type="text/javascript" src="{{ url_for('static', filename='js/detect.js') }}"></script>

       <script type="text/javascript">
        	var check=localStorage.getItem("pass");
        	
        	var user = detect.parse(navigator.userAgent);
        	console.log(user.browser.family);
        	if((user.browser.family)!=="Firefox" && (user.browser.family)!=="Safari")
        	{
        		
        		if(check!=17012000)
	        	{
	        		localStorage.setItem("pass",0);
		        	window.history.forward(); 
		        	function noBack() { 
		            	window.history.forward(); 
		        	}
		        	(function (global) {
		        		global.onload = function () {            
				        	typeWriter();
				        }

		        	})(window);

		        }
		        else
		        {
		        	localStorage.setItem("pass",0);
		        	(function (global) {
		        		global.onload = function () {            
				        	typeWriter();
				        }

		        	})(window);
		        }
        	}
        	else
        	{	
        		console.log("Exception success");
	        	if(check!==17012000)
	        	{
	        		(function (global) { 

				    if(typeof (global) === "undefined") {
				        throw new Error("window is undefined");
				    }

				    var _hash = "!";
				    var noBackPlease = function () {
				        global.location.href += "#";

				        // making sure we have the fruit available for juice (^__^)
				        global.setTimeout(function () {
				            global.location.href += "!";
				        }, 50);
				    };

				    global.onhashchange = function () {
				        if (global.location.hash !== _hash) {
				            global.location.hash = _hash;
				        }
				    };

				    global.onload = function () {            
				        noBackPlease();
				        typeWriter();
				        // disables backspace on page except on input fields and textarea..
				        document.body.onkeydown = function (e) {
				            var elm = e.target.nodeName.toLowerCase();
				            if (e.which === 8 && (elm !== 'input' && elm  !== 'textarea')) {
				                e.preventDefault();
				            }
				            // stopping event bubbling up the DOM tree..
				            e.stopPropagation();
				        };          
				    }

				})(window);
		        }
		        else
		        {
		        	localStorage.setItem("pass",0);

		        	(function (global) {
		        		global.onload = function () {            
				        	typeWriter();
				        }

		        	})(window);
		        }
		    }
    	</script>
    </head>
    
    <body>
	<div class="user_details">
		<div class="display_score">
			<i class="fas fa-bullseye"></i> {{ session['user']['score'] }}
		</div>
		<div class="display_rank">
  		<a href="{{ url_for('story.leaderboard') }}"><i class="fas fa-trophy"></i></a> {{ rank }}
		</div>
		<div class="display_user">
			<i class="fa fa-user" aria-hidden="true"></i> {{ session['user']['username'] }} <a href ="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt" style = "font-size: 2rem; color: #D21F3C"></i></a>
	    </div>
	</div>
	<div class=" storypage">
		<p id="storytext">{{ story_text }}</p>
		<div class="formg">
				<form method = "POST" action = "{{ url_for("story.story") }}">
					<input type = "submit" value="continue">
				</form>
		</div>
    </div>
           <script>
				var i = 0;
				var txt = document.getElementById("storytext").textContent;
				document.getElementById("storytext").innerHTML = "";
				var speed = 50;

				function typeWriter() {
				  if (i < txt.length) {
				    document.getElementById("storytext").innerHTML += txt.charAt(i);
				    i++;
				    setTimeout(typeWriter, speed);
				  }
				}
			</script>
    </body>
</html>

