@font-face{
  font-family: 'Jackpot';
  src: url('SpaceAdventure-VG4ZV.ttf');
}
@font-face{
  font-family: 'Score';
  src: url('CfGlitchCityRegular-L1vZ.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body{
	font-family: Jackpot;
	background: #000;
	color: #04ca9f;	
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.top{
	display: block;
	margin-top: 20%;
	color: #0ffbf9;
	width: 100%;
	font-family: Score;
	font-size: 3rem;
	text-align: center;
	position: fixed;
	opacity: 0.3;
}
.display{
	position: relative;
	margin-left: 50%;
	width: 60%;
	transform: translate(-50%, 0%);
}

.leaderboard{
	display: flex;
	flex-direction: row;
}

ul.rank{
	width: 10%;
}
ul.users{
	width: 75%;
}

ul.scores{
	width: 20%;
}
ul{
	list-style-type: none;
}

li{
	padding: 20px 5px;
}

li.yellow{
	padding: 20px 5px;
}

/* close button */

.close_button
{
	position:fixed;
	text-align: center;
	top:30px;
	left:30px;
}

.close_button button {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 6px;
  left: 50%;
  letter-spacing: 1.5px;
  line-height: 30px;
  outline: none;
  overflow: hidden;
  padding: 3.33px 0 0;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 33.33px;
}


.close_button button::before,
.close_button button::after {
  background-color: #04ca9f;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  z-index: -1;
}

.close_button button::before {
  top: 0;
  transform: rotate(45deg);
}

.close_button button::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.close_button button:hover {
  color: black;
}

.close_button button:hover::before,
.close_button button:hover::after {
  height: 50px;
  transform: rotate(0deg);
}
