<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
	<link rel="shortcut icon" type="image/png" href="img/icon.png"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<title>TechFlix CCS - Techflix Choices</title>
</head>
<body>
	<header class="showcase" style="background: url({{ url_for('static', filename='img/background.jpg') }}) no-repeat center center/cover;">
		<div class="showcase-top">
			<img src="https://fontmeme.com/permalink/200429/ac1db884b28fd5b8f0f32ddc487308ec.png" alt="Techflix" border="0">
			<a href="{{ url_for('login') }}" class="btn btn-rounded">Sign In</a>
		</div>
		<div class="showcase-content">
			<h1>Live someone else's story<br>for a week.</h1>
			<h2>Call yourself tech savvy? Let's see how far you get!</h2>
			<div class="email">
				<a href="{{ url_for('register') }}" class="btn btn-xl">
					Sign Up Now <i class="fas fa-chevron-right"></i>
				</a>
			</div>
			<p style="margin-top: 1%">Ready to brainstorm? Signup to enter the world of choices.</p>
		</div>
	</header>
</body>
</html>