<!DOCTYPE html>
<html>
<head>
	<title>Choose Path</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ostyle.css') }}">
</head>
<body>
	<div class="user_details">
		<div class="display_score">
			<i class="fas fa-bullseye"></i> {{ score }}
		</div>
		<div class="display_rank">
			<a href="{{ url_for('leaderboard') }}"><i class="fas fa-trophy"></i></a> {{ rank }}
		</div>
		<div class="display_user">
			<i class="fa fa-user" aria-hidden="true"></i> {{ username }} <a href ="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt" style = "font-size: 2rem; color: #D21F3C"></i></a>
	    </div>
	</div>
	<div class="optionpage">
		<div class="optiontext">
			{{ option_text }}	
		</div>
		<form method = "POST" action = "/option">
		<div class="form">
			<div class="radiobn">
				<input type="radio" name="options" id="option1" value="option1" checked="checked">
				<label for="option1" class="label1">
					<span>{{ option1 }}</span>
				</label>
				<input type="radio" name="options" id="option2" value="option2">
				<label for="option2" class="label2">
					<span>{{ option2 }}</span>
				</label>
			</div>
		    <p><input type=submit value=continue></p>
	    </div>
	    </form>
    </div>
</body>
</html>
