<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<h1>{{ options }}</h1>
	<form method = "POST" action = "/option">
	<p>
		<input type="radio" name="options" id="option1" value="option1"> Option1 </input><br>
	    <input type="radio" name="options" id="option2" value="option2"> Option2 </input><br>
	</p>
    <p><input type=submit value=Next></p>
    </form>
</body>
</html>