<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/qstyle.css') }}">
</head>
<body>
	<div class="user_details">
		<div class="display_score">
			<i class="fas fa-bullseye"></i> {{ score }}
		</div>
		<div class="display_rank">
			<a href="{{ url_for('leaderboard') }}"><i class="fas fa-trophy"></i></a> {{ rank }}
		</div>
		<div class="display_user">
			<i class="fa fa-user" aria-hidden="true"></i> {{ username }} <a href ="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt" style = "font-size: 2rem; color: #D21F3C"></i></a>
	    </div>
	</div>
	<div class="questionpage">
		<div class = "question"> {{ question }} </div>
		<div class="ansform">
			<form method = "POST" action = "/question" style="position: relative;">
				<div class = "form-group">
					<input type = "text" name = "answer" placeholder="answer">
				</div>
				<input class = "button" type = "submit" value="continue">
			</form>
		</div>
    </div>
</body>
</html>
